body {
  background-color: black;
  background-image: url(images/background.jpg);
  color: white;
  }

  video {
    visibility: hidden;
    top: 5000px;
  }

#mainDiv {
  margin-left: 100px;
}

#sun {
  width: 360px;
  height: auto;
  position: absolute;
  top: 0px;
}

#mercury {
  width: 23px;
  height: auto;
  position: absolute;
  top: 1838px;
  left: 0px;
}

#venus {
  width: 53px;
  height: auto;
  position: absolute;
  top: 1861px;
  left: 23px;
}

#earth {
  width: 60px;
  height: auto;
  position: absolute;
  top: 1914px;
  left: 76px;
}

#mars {
  width: 53px;
  height: auto;
  position: absolute;
  top: 1974px;
  left: 136px;
}

#jupiter {
  width: 200px;
  height: auto;
  position: absolute;
  top: 2027px;
  left: 189px;
}

#saturn {
  width: 150px;
  height: auto;
  position: absolute;
  top: 2227px;
  left: 300px;
}

#uranus {
  width: 100px;
  height: auto;
  position: absolute;
  top: 2377px;
  left: 260px;
}

#neptune {
  width: 100px;
  height: auto;
  position: absolute;
  top: 2477px;
  left: 180px;
}

#pluto {
  width: 23px;
  height: auto;
  position: absolute;
  top: 2577px;
  left: 150px;
}
